<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <appSettings>
    <add key="SETTING" value="\XML\SettingXml.xml"/>            <!--設定XMLﾊﾟｽ-->
    <add key="ACCESS" value="\XML\AccessSettingXml.xml"/>       <!--ｱｸｾｽ用XMLﾊﾟｽ-->
    <add key="CONFIG" value="\XML\ConfigXml.xml"/>              <!--ｺﾝﾌｨｸﾞ用XMLﾊﾟｽ-->
    <add key="LOG" value="\LOG\{0}.txt"/>                       <!--LOG用ﾊﾟｽ-->
    <add key="TIMER_INTERVAL" value="15000"/>                   <!--ﾀｲﾑﾗｲﾝﾀｲﾏｰ-->
  </appSettings>
</configuration>
